@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-1: hsl(180, 52%, 96%);
  --light-grayish-cyan-2: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "League Spartan", sans-serif !important;
  font-size: 0.9rem !important;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-color: var(--desaturated-dark-cyan);
}

header img {
  object-fit: cover;
  width: 100%;
  max-height: 157px;
}

main {
  background-color: var(--light-grayish-cyan-1);
}

@media (min-width: 1200px) {
  .content-width {
    width: 1110px;
  }
}

.size-5 {
  font-size: 1.125rem;
}
.size-4 {
  font-size: 1.275rem;
}

.color-cyan {
  color: var(--desaturated-dark-cyan) !important;
}
.color-gray {
  color: var(--dark-grayish-cyan) !important;
}

.badge {
  font-size: 0.85rem !important;
  font-weight: 500 !important;
  letter-spacing: 1px;
  padding-bottom: 0.25rem !important;
  padding-top: 0.25rem !important;
}

.bg-cyan {
  background-color: var(--desaturated-dark-cyan);
}

.bg-dark {
  background-color: var(--very-dark-grayish-cyan);
}

.bold {
  font-weight: 700 !important;
}

.filter {
  background-color: var(--light-grayish-cyan-2) !important;
  color: var(--desaturated-dark-cyan) !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  padding: 0.6rem 0.5rem 0.4rem !important;
}

.filter:hover {
  background-color: var(--desaturated-dark-cyan) !important;
  color: var(--light-grayish-cyan-2) !important;
}

.bg-dark-cyan {
  background-color: var(--desaturated-dark-cyan) !important;
}

.bg-dark-cyan:hover {
  background-color: var(--very-dark-grayish-cyan) !important;
}

.clear-btn:hover {
  color: var(--desaturated-dark-cyan) !important;
  text-decoration: underline;
}

.featured {
  border-left: 5px solid var(--desaturated-dark-cyan);
}

@media (max-width: 991px) {
  .logo {
    width: 50px;
    position: absolute;
    top: -25px;
  }

  .list-unstyled {
    padding-top: 140px !important;
    padding-bottom: 140px !important;
  }
}
